*{
    margin :0;
    padding: 0;
}
body{
    background-color: #c29a66;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.2vmin;
}
.box{
    height : 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(79, 78, 78);
    font-size: 9vmin;
    color: #459da7;
    background-color: #ffffc7;
}
#reset{
    padding: 1rem;
    font-size: 1.3rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;

}
#newGame{
    padding: 1rem;
    font-size: 1.3rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: #ffffc7;
    font-size: 8vmin;

}
.msg-container{
    height: 100vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}
.hide{
    display: none;
}